body {
    position: static;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 10px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./icons/OldestOct.png');
    filter: brightness(0.15);
    z-index: -1;
}

@font-face {
    font-family: "Consolas";
    src: url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.eot");
    src: url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.svg#Consolas")format("svg");
}

nav.navbar {
    color: #cccccc;
    left: 0;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    display: flex; /* This will lay out the children in a row */
    align-items: center; /* This will vertically center the children in the navbar */
    justify-content: flex-start; /* This will align children to the start of the navbar */
    background: transparent;
}

h1.InnerText {
    font: 400 40px/1.5 "Noto Sans", sans-serif;
    font-weight: bold;
    margin: 0;
    padding-left: 25px;
    margin-right: 10px; /* Add a margin to the right of the text for spacing */
    padding-top: 5px;
    line-height: 48px;
}

h1 a {
    text-decoration: none;
    color: #cccccc;
}

h1 a:hover {
    text-decoration: none;
}

p.InnerShort {
    font: 400 20px/1.5 "Lexend Deca", sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 13px;
    margin-left: 20px;
    margin-right: 10px; /* Add a margin to the right of the text for spacing */
    padding-right: 20px;
}

h2.beginText, h2.TicketInfo {
    font: 400 20px/1.5 "Lexend Deca", sans-serif;
    padding: 0;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 10px; /* Add a margin to the right of the text for spacing */
    padding-right: 20px;
    margin-bottom: 10px;
    color: #cccccc;
}

.container {
    margin-bottom: 10px;
}

/* 定義內容區域的樣式 */
.content {
    margin-left: 50px; /* 內容區域距離側邊欄的左邊距 */
}

@media screen and (max-height: 550px) {
    body {
        overflow-y: auto;
    }
}

div.templateTicketContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: auto;
}

.ticket1, .ticket2, .ticket3, .ticket4, .ticket5, .ticket6, .ticket7, .ticket8, .ticket9, .ticket10 {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #111111;
    border: 1.5px solid #cccccc;
    border-radius: 10px;
    width: auto;
    min-width: 200px;
    min-height: 10px;
    height: auto;
    font: 200 16px/1.5 "Lexend Deca", sans-serif;
    color: #cccccc;
}

h3.ticketTitle {
    margin-top: 5px;
    white-space: nowrap;
    margin-bottom: 2.5px;
}

p.ticketseq {
    font: 200 14px/1.2 "Lexend Deca", sans-serif;
    font-weight: lighter;
    margin-left: 10px;
    margin-bottom: 2.5px;
}


.ticketTitle, .ticketseq {
    display: inline-block;
}

div.ticketdesc {
    width: inherit;
    height: auto;
}

p.ticketDescription {
    font: 200 14px/1.2 "Lexend Deca", sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    color: #ababab;
    font-weight: lighter;
    margin-top: 0.15em;
    margin-bottom: 0.3em;
    white-space: pre;
}

p.ticketCreateTime {
    font: 100 12px/1.1 "Lexend Deca", sans-serif;
    font-weight: lighter;
    padding-top: 0.1em;
}

p.footerText {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 200 12px/1.1 "Lexend Deca", sans-serif;
    font-weight: lighter;
    padding-top: 0.1em;
    margin-top: 2em;
    margin-bottom: 100px;
    margin-left: 40px;
    color: #ababab;
    text-align: center;
}

.ticketref1, .ticketref2, .ticketref3, .ticketref4, .ticketref5, .ticketref6, .ticketref7, .ticketref8, .ticketref9, .ticketref10 {
    text-decoration: none;
    color:#ababab;
}

.ticketref1:hover {
    .ticket1 {
        background-color: #0a0a0a;
    }
}

.ticketref2:hover {
    .ticket2 {
        background-color: #0a0a0a;
    }
}

.ticketref3:hover {
    .ticket3 {
        background-color: #0a0a0a;
    }
}

.ticketref4:hover {
    .ticket4 {
        background-color: #0a0a0a;
    }
}

.ticketref5:hover {
    .ticket5 {
        background-color: #0a0a0a;
    }
}

.ticketref6:hover {
    .ticket6 {
        background-color: #0a0a0a;
    }
}

.ticketref7:hover {
    .ticket7 {
        background-color: #0a0a0a;
    }
}

.ticketref8:hover {
    .ticket8 {
        background-color: #0a0a0a;
    }
}

.ticketref9:hover {
    .ticket9 {
        background-color: #0a0a0a;
    }
}

.ticketref10:hover {
    .ticket10 {
        background-color: #0a0a0a;
    }
}

@media screen and (max-width: 1100px) {
    .templateTicketContainer {
        margin-left: 50px;
    }
    .footerText {
        margin-left: 50px;
    }
}