/* Flipbook styles */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

/* Flipbook container */
#flipbookContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    background-color: #6C7A89;  /* Gray background */
    z-index: 1001;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;  /* Reduce padding */
    animation: slideInFromRight 0.8s ease forwards;
}

/* Page content styling */
.flipbook-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Arrange images and text vertically */
    align-items: center;
    justify-content: center;
    text-align: center;  /* Center text */
}

/* Styling for images within pages to ensure they scale with the flipbook container */
.page img {
    max-width: 100%;
    max-height: 85%;  /* Increase the maximum height of the image */
    object-fit: contain;
    margin-bottom: 5px;  /* Reduce the spacing between the image and text */
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    transition: left 0.5s ease-in-out;
    opacity: 0;
}

.page.active {
    left: 0;
    opacity: 1;
}

.page.previous {
    left: -100%;
}

/* Previous and Next page buttons */
.pageButton {
    position: absolute;
    bottom: 15px;
    padding: 10px 10px;
    background-color: #A3C6C4;
    color: #354649;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1002;
}

#prevPageButton {
    left: 5px;
}

#nextPageButton {
    right: 5px;
}

.pageButton:hover {
    background-color: #E0E7E9;
}

/* Fixed button in the bottom-right corner */
.buttonOpenFlipbook {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #8b9db4;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    z-index: 1002;
}

.buttonOpenFlipbook:hover {
    background-color: #4c78af;
}

.tooltipText {
    font-size: 18px;  /* Increase font size */
    white-space: nowrap;
    opacity: 0;
    position: absolute;
    right: calc(100% + 10px);
    display: flex;
    align-items: center;  /* Vertically center align */
    top: 50%;  /* Vertically center the text within the button */
    transform: translateY(-50%);  /* Ensure centering */
}

.tooltipText span {
    display: inline-block;
    opacity: 0;
    transform: translateY(-20px); /* Initial state: shifted up and hidden */
    margin-right: 2px;  /* Increase letter spacing */
}

@keyframes flyIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Styling for the information page content */
.page p {
    font-family: 'Roboto Slab', serif;
    font-size: 35px; /* Increase font size */
    font-weight: 200; /* Set to bold */
    color: #354649; /* Set font color */
    margin:2px 0 0 0;
}

.pushImageEffect {
    position: fixed;  /* Position relative to the flipbookContainer */
    top: 50%;
    right: -200px;  /* Initial position outside the viewport, closer to flipbookContainer */
    width: 200px;  /* Increase image width */
    height: 200px; /* Increase image height */
    background-image: url('../icons/GenerateHelp/push.png');  /* Path to octopus image */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);  /* Vertically center */
    z-index: 1002; /* Ensure it is above flipbookContainer */
    animation: pushImage 1.5s ease forwards;
    pointer-events: none; /* Disable interactions */
}

@keyframes slideInFromRight {
    from {
        transform: translate(100%, -50%); /* Slide in from the right */
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%); /* Arrive at the center position */
        opacity: 1;
    }
}

#flipbookContainer {
    /* Add animation effect */
    animation: slideInFromRight 0.8s cubic-bezier(0.5, 0, 1, 1) forwards;
}

@keyframes pushImage {
    0% {
        right: -250px;  /* Image pushes in from outside the viewport, starting closer to flipbookContainer */
        opacity: 1;
    }
    50% {
        right: -50px;  /* Image moves to contact the flipbookContainer */
        opacity: 1;
    }
    100% {
        opacity: 0;  /* Image fades out */
    }
}
