body {
    position: static;
    height: 60vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 10px;
}

@font-face {
    font-family: "Consolas";
    src: url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.eot");
    src: url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.svg#Consolas")format("svg");
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes breathEffect {
    0% {
        background-color: #363636;
    }
    50% {
        background-color: #8f8f8f;
    }
    100% {
        background-color: #363636;
    }
}

#myVideo {
    position: fixed; /* 將影片固定在背景 */
    display: flex;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* 確保影片在其他內容之下 */
    filter: brightness(0.15);
    animation: fadeIn .5s;
}


h4.loadmsg {
    box-sizing: border-box;
    display: none;
    font: 400 25px/1.5 "Consolas", sans-serif;
    margin: 0;
    color: #cccccc;
    position: absolute;
    margin-left: -150px;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}

body.bg {
    background: #191919;
    color: #cccccc;
    margin: 0;
    padding: 0;
}

h1.InnerText {
    font: 400 40px/1.5 "Noto Sans", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

h1 a {
    text-decoration: none;
    color: #cccccc;
}

h1 a:hover {
    text-decoration: none;
}

div.InnerPage {
    font: 400 20px/1.5 "Lexend Deca", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-bottom: 40px;
}

p.frontInfo {
    text-align: center;
}

div.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.buttonContainer2, div.buttonContainer3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

a.GotoGenerate {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    padding-top: 10px;
    font: 400 20px/1.5 "Lexend Deca", sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    transition: background-color 0.2s ease;
}

a.GotoCommunity {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    padding-top: 10px;
    font: 400 18px/1.5 "Lexend Deca", sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    transition: background-color 0.2s ease;
}

a.GotoGenerate:hover, a.GotoCommunity:hover {
    background-color: #363636;
}

a.GotoModify {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    padding-top: 10px;
    text-decoration: none;
    font: 400 20px/1.5 "Lexend Deca", sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    transition: background-color 0.2s ease;
}

a.GotoTicket {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    padding-top: 10px;
    font: 400 20px/1.5 "Lexend Deca", sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    transition: background-color 0.2s ease;
}

a.GotoSimilar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    padding-top: 10px;
    font: 400 20px/1.5 "Lexend Deca", sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    width: 310px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    transition: background-color 0.2s ease;
}

a.GotoTicket:hover, a.GotoSimilar:hover {
    background-color: #363636;
}

a span img.TicketIcon {
    text-align: center;
    line-height: 50px;
    width: 30px;
    height: 30px;
    color: white;
    margin-top: 8px;
    margin-left: 12px;
}

a span img.GenerateIcon {
    text-align: center;
    line-height: 50px;
    width: 30px;
    height: 30px;
    color: white;
    margin-top: 8px;
    margin-left: 5px;
}

a span img.ModifyIcon {
    text-align: center;
    line-height: 50px;
    width: 30px;
    height: 30px;
    color: white;
    margin-top: 8px;
    margin-left: 10px;
}

a span img.CommunityIcon {
    text-align: center;
    line-height: 50px;
    width: 30px;
    height: 30px;
    color: white;
    margin-top: 8px;
    margin-left: 5px;
}

a span img.SearchIcon {
    text-align: center;
    line-height: 50px;
    width: 30px;
    height: 30px;
    color: white;
    margin-top: 8px;
    margin-left: 15px;
}

a.GotoModify:hover {
    background-color: #363636;
}


.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #363636;
    filter: brightness(0.15);
    z-index: -2;
    animation: breathEffect 3.5s infinite;
}

/* 定義內容區域的樣式 */
.content {
    position: static;
    padding-left: 50px; /* 內容區域距離側邊欄的左邊距 */
}

@media screen and (max-height: 550px) {
    body {
        overflow-y: auto;
    }
    .sidebar h2 {
        padding-top: 270px;
    }
}

