nav.navbar {
    padding-left: 0;
    margin-left: -2em;
}

h1 a:hover {
    text-decoration: none;
}

.loginform {
    padding-left: 50px;
    padding-right: 50px;
}

.titlelink {
    margin-left: 0;
}

.titlelink:hover {
    text-decoration: none;
    color: #c7c7c7;
}

.username-labl, .password-labl {
    font: 200 14px/1.5 "Lexend Deca", sans-serif;
    color: #c7c7c7;
}

.username-input {
    width: 90%;
    margin-bottom: 25px;
}

.password-input {
    width: 90%;
    margin-bottom: 80px;
}

.logintitle {
    font: 400 30px/1.5 "Lexend Deca", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    color: #c7c7c7;
}

.logininput {
    margin-top: 10px;
    margin-left: 25%;
    background-color: rgba(54, 54, 54, 0.8);
    border-radius: 5px;
    padding: 20px 10px;
}

.buttoncontain {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

