body {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 10px;
}

@font-face {
    font-family: "Consolas";
    src: url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.eot");
    src: url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.svg#Consolas")format("svg");
}

@keyframes borderLighten {
    0% { box-shadow: none; }
    50% { box-shadow:  0 0 10px 0 #cccccc; }
    100% { box-shadow: none; }
}

@keyframes heightaddon {
    0% {
        height: 0px;
    }
    100% {
        height: 50px;
    }
}

@keyframes heightoff {
    0% {
        height: 50px;
    }
    100% {
        height: 0px;
    }
}

@keyframes breathEffect {
    0% {
        background-color: #363636;
    }
    30% {
        background-color: #949494;
    }
    60% {
        background-color: #949494;
    }
    100% {
        background-color: #363636;
    }
}

.Inputarea textarea, .textEnter {
    color: white;
    caret-color: white;
}

div.blocker {
    margin: 0;
    padding: 0;
    display: none;
    background:#191919;
    opacity: 0.95;
    position: fixed;
    height: 150vh;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h4.loadmsg {
    box-sizing: border-box;
    display: none;
    font: 400 25px/1.5 "Consolas", sans-serif;
    margin: 0;
    color: #cccccc;
    position: absolute;
    top: 46.5%;
    left: 50.5%;
    transform: translate(-50%, -50%);
}

body.bg {
    background: #191919;
    color: #cccccc;
    margin: 0;
    padding: 0;
}
  
nav.navbar {
    color: #cccccc;
    left: 0;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    display: flex; /* This will lay out the children in a row */
    align-items: center; /* This will vertically center the children in the navbar */
    justify-content: flex-start; /* This will align children to the start of the navbar */
    background: transparent;
}

h1.InnerText {
    font: 400 40px/1.5 "Noto Sans", sans-serif;
    font-weight: bold;
    margin: 0;
    padding-left: 25px;
    margin-right: 10px; /* Add a margin to the right of the text for spacing */
    padding-top: 5px;
    line-height: 48px;
}

h1 a {
    text-decoration: none;
    color: #cccccc;
}

h1 a:hover {
    text-decoration: none;
}

p.InnerShort, p.ServerStatus, p.ServerStatusRes {
    font: 400 20px/1.5 "Lexend Deca", sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px; /* Add a margin to the right of the text for spacing */
    padding-right: 20px;
}

div.server {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
}


p.ServerStatus {
    width: auto;
    margin-right: 5px;
    margin-left: 52vw;
}

p.ServerStatusRes {
    margin-left: -15px;
    cursor: pointer;
}

div.InnerPage {
    display: none;   
}

p.frontInfo {
    font: 400 20px/1.5 "Consolas", sans-serif;
    margin: 0;
    margin-left: 72px;
    padding: 0;
}

.Inputarea textarea, .textEnter {
    font: 300 20px/1.5 "Consolas", sans-serif;
    font-weight: lighter;
    border: 1px solid rgb(252, 254, 255); /* 設置邊框 */
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    height: 400px;
    width: 89%;
    resize: none;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.Inputarea textarea:focus, .textEnter:focus {
    outline: none;
}

div.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}

a.buttonClear {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    padding-top: 10px;
    text-decoration: none;
    font: 400 20px/1.5 "Lexend Deca", sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

a.buttonClear:hover {
    background-color: #363636;
}

.Execbtn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

a.buttonExecute {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    padding-top: 10px;
    text-decoration: none;
    font: 400 20px/1.5 "Lexend Deca", sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

a.buttonAnalyse {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    padding-top: 10px;
    text-decoration: none;
    font: 400 20px/1.5 "Lexend Deca", sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

a span img.uploadIcon {
    text-align: center;
    line-height: 50px;
    width: 25px;
    height: 25px;
    color: white;
    margin-top: 8px;
    margin-left: 8px;
}

a span img.clearIcon {
    text-align: center;
    line-height: 50px;
    width: 30px;
    height: 30px;
    color: white;
    margin-top: 8px;
    margin-left: 8px;
}

a span img.executeIcon {
    text-align: center;
    line-height: 50px;
    width: 30px;
    height: 30px;
    color: white;
    margin-top: 8px;
    margin-left: 6px;
}

a.buttonAnalyse:hover, a.buttonExecute:hover {
    background-color: #363636;
}

input.message {
    font: 400 20px/1.5 "Lexend Deca", sans-serif;
    border: none;
    background-color: transparent;
    color: #cccccc;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: default;
    margin-top: 10px;
    margin-left: 1em;
}

input.message:focus {
    outline: none;
}

textarea.textOutput {
    z-index: 2;
    margin-top: 20px;
    padding: 20px;
    display: none;
    border: none;
    font: 200 20px/1.5 "Lexend Deca", sans-serif;
    font-weight: 200;
    color: #cccccc;
    background-color: transparent;
    overflow-y: hidden;
    padding: 10px;
    height: 0px;
    width: 90%;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    cursor: default;
    border-radius: 10px;
}

textarea.textOutput:hover {
    display: none;
    overflow-y: auto;
    animation: borderLighten 3.5s linear infinite;
}

textarea.textOutput:focus {
    outline: none;
}

textarea.textOutput::-webkit-scrollbar, .Inputarea textarea::-webkit-scrollbar, .textEnter::-webkit-scrollbar {
    width: 8px;
}

textarea.textOutput::-webkit-scrollbar-track, .Inputarea textarea::-webkit-scrollbar-track, .textEnter::-webkit-scrollbar-track {
    background: transparent;
}

textarea.textOutput::-webkit-scrollbar-thumb, .Inputarea textarea::-webkit-scrollbar-thumb, .textEnter::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 10px;
}

div.loader {
    margin-left: -20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: 10px solid #2b2a2a; 
    border-top: 10px solid #f29d13;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

h2.AImsg {
    display: none;
    font: 300 20px/1.5 "Lexend Deca", sans-serif;
    margin: 0;
    padding: 0;
    margin-left: 6%;
    margin-top: 20px;
    cursor: default;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../icons/OldestOct.png');
    background-color: #363636;
    filter: brightness(0.15);
    z-index: -1;
    animation: breathEffect 2.5s infinite;
}

/* 定義內容區域的樣式 */
.content {
    margin-left: 50px; /* 內容區域距離側邊欄的左邊距 */
}

.uploadsys {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: "Lexend Deca", sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-left: -40px;
}

.inputfile {
    margin-left: 60px;
}

a.buttonUpload {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    padding-top: 10px;
    text-decoration: none;
    font: 400 18px/1.5 "Lexend Deca", sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    width: 120px;
    min-width: 90px;
    height: 30px;
    background-color: transparent;
    color: white;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    transition: background-color 0.2s ease;
    margin-right: 20px;
    cursor: pointer;
}

a.buttonUpload:hover {
    background-color: #363636;
}

.languageSelect {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 30px;
}

.selectDesc {
    font: 400 18px/1.5 "Lexend Deca", sans-serif;
    margin: 0;
    padding: 0;
    margin-right: 0;
    margin-left: auto;
    padding-left: 22px;
    white-space: calc(650px);
}

.myselect {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: calc(45vh - 40px);
    max-width: 100%;
    min-width: 10px;
    color: #cccccc;
    background-color: transparent;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    font: 400 15px/1.5 "Lexend Deca", sans-serif;
    box-sizing: border-box;
}

.myselect option {
    color: black;
    font: 400 15px/1.5 "Lexend Deca", sans-serif;
}

.myselect:focus {
    outline: none;
}

.footerdesc {
    font: 200 14px/1.5 "Lexend Deca", sans-serif;
    color: #000000;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    padding-left: 2em;
    background-color: #5ae366;
    width: 100%;
    height: 0px;
    animation: heightaddon 0.75s forwards;
}

.Inputarea {
    margin-bottom: 10px;
}

.Inputarea div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #474747;
    background-size: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 88.5%;
    border-radius: 5px 5px 0px 0px;
    height: 40px;
}

.Inputarea div span {
    margin-right: 7.5px;
    cursor: pointer;
    border-radius: 50px;
    background-color: inherit;
}

.Inputarea div span:hover {
    background-color: #898989;
}


.tabSeq {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 200 14px/1 "Lexend Deca", sans-serif;
    padding-top: 0px;
    padding: 10px;
}

.Addnewtab {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #474747;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 88.5%;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
}

.material-symbols-outlined {
    margin-left: 15px;
}

.addnewtab {
    line-height: 0px;
    font: 200 14px/1 "Lexend Deca", sans-serif;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.Addnewtab:hover {
    background-color: #252525;
}

.JobAssignment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.JobAssignment .JobAssign {
    display: flex;
    flex-direction: row;
    background-color: #363636;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    width: 400px;
    margin-left: 0;
    height: fit-content;
    max-width: 600px;
    margin-top: 10px;
}

.Jobtitle {
    margin-top: 2px;
    width: 80%;
    min-width: 190px;
}

.Jobbtn {
    display: flex;
    align-items: center;
    width: 20%;
    min-width: 60px;
    cursor: pointer;
    padding-left: 0px;
}

.AssignTitle {
    background: transparent;
    border: none;
    margin-left: 20px;
    font: 200 14px/1 "Lexend Deca", sans-serif;
    color: #cccccc;
    word-wrap: break-word;
    padding-top: 13px;
    padding-bottom: 0px;
    width: 280px;
    height: 50px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow-y: hidden;
    resize: none;
}

.AssignTitle:focus {
    outline: none;
}

.editbtn {
    margin-left: 5em;
    cursor: pointer;
    font: 200 14px/1 "Lexend Deca", sans-serif;
    background-color: #363636;
    border-radius: 50px;
}

.abortbtn {
    margin-right: 20px;
    cursor: pointer;
    margin-left: 1.5em;
    font: 200 14px/1 "Lexend Deca", sans-serif;
    color: #f35a5a;
    border-radius: 50px;
}

.JobAdd {
    display: flex;
    flex-direction: row;
    background-color: #363636;
    width: 400px;
    max-width: 600px;
    height: 50px;
    border: 1px solid #c7c7c7;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 0;
}

.JobAdd span {
    margin-top: 12px;
}

.AddJob {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    font: 200 14px/1 "Lexend Deca", sans-serif;
    color: #cccccc;
    margin-bottom: 12px;
    margin-left: 12px;
}

.editbtn:hover, .JobAdd:hover, .Jobbtn:hover {
    background-color: #2a2a2a;
}

div.loading, div.loading2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.loadinggif, .loadinggif2 {
    display: none;
    width: 54px;
    height: 54px;
    background-color: transparent;
    margin-left: -0px;
}

.loadinggif2 {
    margin-left: -20px;
}

.tabChange {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: auto;
    flex-direction: row;
}

.responseInfo {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
}

.tabInfo {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font: 200 14px/1.5 "Lexend Deca", sans-serif;
    color: #cccccc;
}

.tabChange span {
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
}

.tabChange span:hover {
    color: #b3b2b0;
}

#arrowright {
    margin-left: 0;
}

@media screen and (max-height: 550px) {
    body {
        overflow-y: auto;
    }
}

@media screen and (max-width: 1600px){
    p.ServerStatus {
        margin-left: 30vw;
    }
}

@media screen and (max-width: 1200px){
    p.ServerStatus {
        margin-left: 20vw;
    }
}

@media screen and (max-width: 600px) {
    h1.InnerText {
        font: 400 28px/1.5 "Noto Sans", sans-serif;
        margin-left: 0px;
        margin-top: 10px;
    }
    .uploadsys {
        margin-left: -40px;
    }
    .buttonContainer {
        margin-left: -50px;
    }
    .JobAssignment, .JobAssign {
        margin-left: 85px;
        width: 270px;
    }
    p.ServerStatus {
        font-size: 16px;
        margin-left: 10px;
    }
    p.ServerStatusRes {
        font-size: 16px;
    }
}
