body {
    position: static;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 10px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../icons/OldestOct.png');
    filter: brightness(0.15);
    z-index: -1;
}

@font-face {
    font-family: "Consolas";
    src: url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.eot");
    src: url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.svg#Consolas")format("svg");
}

@keyframes addIn {
    0% {
        height: 0px;
    }
    100% {
        height: 400px;
    }
}

@keyframes heightaddon {
    0% {
        height: 0px;
    }
    100% {
        height: 50px;
    }
}

@keyframes heightoff {
    0% {
        height: 50px;
    }
    100% {
        height: 0px;
    }
}

nav.navbar {
    color: #cccccc;
    left: 0;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    display: flex; /* This will lay out the children in a row */
    align-items: center; /* This will vertically center the children in the navbar */
    justify-content: flex-start; /* This will align children to the start of the navbar */
    background: transparent;
}

h1.InnerText {
    font: 400 40px/1.5 "Noto Sans", sans-serif;
    font-weight: bold;
    margin: 0;
    padding-left: 25px;
    margin-right: 10px; /* Add a margin to the right of the text for spacing */
    padding-top: 5px;
    line-height: 48px;
}

h1 a {
    text-decoration: none;
    color: #cccccc;
}

h1 a:hover {
    text-decoration: none;
}

p.InnerShort {
    font: 400 20px/1.5 "Lexend Deca", sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 13px;
    margin-left: 20px;
    margin-right: 10px; /* Add a margin to the right of the text for spacing */
    padding-right: 20px;
}

h2.beginText, h2.TicketInfo {
    font: 400 20px/1.5 "Lexend Deca", sans-serif;
    padding: 0;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 10px; /* Add a margin to the right of the text for spacing */
    padding-right: 20px;
    margin-bottom: 10px;
    color: #cccccc;
}

.container {
    margin-bottom: 10px;
}

/* 定義內容區域的樣式 */
.content {
    margin-left: 50px; /* 內容區域距離側邊欄的左邊距 */
}


h3.codeType, h3.ticketTitle, h3.ticketDescription, h3.AIresponse, h3.Youropinion, h3.codeLang {
    color: #cccccc;
    font: 200 20px/1.2 "Lexend Deca", sans-serif;
    margin-top: 10px;
    white-space: nowrap;
    margin-bottom: 10px;
    margin-left: 40px;
}

p.ticketseq, p.tickettype, p.ticketLang {
    color: #cccccc;
    font: 200 18px/1.2 "Lexend Deca", sans-serif;
    font-weight: lighter;
    margin-left: 10px;
    margin-bottom: 2.5px;
}

.ticketTitle, .ticketseq {
    display: inline-block;
}

.codeType, .ticketLang {
    display : inline-block;
}

.codeType, .tickettype, .codeLang {
    display: inline-block;
}

.ticketDesc {
    resize: none;
    font-weight: lighter;
    border: 1px solid #818181;
    background-color: #151515; /* 設置背景顏色 */
    border-radius: 5px;
    padding: 10px;
    height: 600px;
    width: 80vw;
    min-width: 100px;
    resize: none;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10.5em;
    margin-right: 15em;
    color: #cccccc;
    font: 200 16px/1.4 "consolas", sans-serif;
    overflow: auto;
}

.ticketDesc:focus, .AIresp:focus, .comment:focus {
    outline: none;
}

.ticketDesc::-webkit-scrollbar,
.AIresp::-webkit-scrollbar,
.comment::-webkit-scrollbar {
    width: 8px;
}

.ticketDesc::-webkit-scrollbar-track,
.AIresp::-webkit-scrollbar-track,
.comment::-webkit-scrollbar-track {
    background: transparent;
}

.ticketDesc::-webkit-scrollbar-thumb,
.AIresp::-webkit-scrollbar-thumb,
.comment::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 10px;
}

.AIresp {
    resize: none;
    font-weight: lighter;
    border: 1px solid #818181;
    background-color: #151515; /* 設置背景顏色 */
    border-radius: 5px;
    padding: 10px;
    height: 400px;
    min-height: 100px;
    width: 80vw;
    min-width: 100px;
    resize: none;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10em;
    margin-right: 15em;
    color: #cccccc;
    font: 200 17px/1.6 "Lexend Deca", sans-serif;
    overflow: auto;
}

div.opinion {
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yesbtn, .nobtn, .sendbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    padding-top: 10px;
    font: 400 20px/1.5 "Lexend Deca", sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    transition: background-color 0.2s ease;
}

.sendbtn {
    margin-left: 50px;
}

a.yesbtn:hover, a.nobtn:hover, a.sendbtn:hover {
    cursor: pointer;
    background-color: #363636;
}

.material-symbols-outlined {
    text-align: center;
    line-height: 50px;
    width: 30px;
    height: 30px;
    color: white;
    margin-top: 8px;
    margin-left: 5px;
}

.yesbtn:hover {
    border-color: #5ae366;
}

.nobtn:hover {
    border-color: #f66868;
}

.comment {
    display: none;
    resize: none;
    font-weight: lighter;
    border: 1px solid #818181;
    background-color: #151515; /* 設置背景顏色 */
    border-radius: 5px;
    padding: 10px;
    height: 0px;
    width: 80vw;
    min-width: 100px;
    resize: none;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10em;
    margin-right: 15em;
    color: #cccccc;
    font: 200 17px/1.6 "Lexend Deca", sans-serif;
    overflow: auto;
    animation: addIn 0.75s forwards;
}

.ticketTime, .time {
    font: 200 14px/1.5 "Lexend Deca", sans-serif;
    color: #cccccc;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.time {
    margin-left: 10px;
}

div.sendbtncontent {
    display: none;
    justify-content: center;
    align-items: center;
}

.sendbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerdesc {
    font: 200 14px/1.5 "Lexend Deca", sans-serif;
    color: #000000;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    padding-left: 2em;
    background-color: #35f52e;
    width: 100%;
    height: 0px;
    animation: heightaddon 0.75s forwards;
}

@media screen and (max-height: 550px) {
    body {
        overflow-y: auto;
    }
}

@media screen and (max-width: 1050px) {
    .ticketDesc, .AIresp, .comment {
        margin-left: 75px;
    }
}

@media screen and (max-width: 600px) {
    .content {
        margin-left: 30px;
    }
    .ticketDesc, .AIresp, .comment {
        margin-left: 40px;
    }
}